
@{
    ViewData["Title"] = "Add";
}



<h1>Add</h1>
<div>
    <form action="~/DB/AddNumber" method="post">
        <input type="text" name="Name" value="Archon" />
        <input type="number" name="Phone" value="89044554690" />
        <p><input type="submit" value="Отправить" /></p>
    </form>
</div>